# Ignore common data files, but keep json files
*.csv
*.xlsx
*.xls
*.data
*.dat
*.db
*.sqlite
*.sqlite3
*.parquet
*.hdf
*.h5
*.pkl
*.pickle
*.sav
*.arff
*.feather

# Ignore virtual environments
venv/
.venv/
.env/
# Mais arquivos de dados
*.bin
*.npy
*.npz
*.mat
*.zip
*.tar
*.gz
*.7z
*.rar
*.model
*.weights
*.pth
*.pt
*.onnx
*.joblib
*.png
*.jpg
*.jpeg
*.gif
*.pdf
*.pyc
__pycache__/
*.log
*.sample
# Arquivos grandes específicos
database/historico_precos/*.txt
database/historico_b3/*.TXT
database/historico_b3/*.txt
# Arquivos de cotação histórica
COTAHIST_*.TXT
data_stocks.txt
# Excluir TODOS os arquivos da pasta historico_b3
database/historico_b3/*
# Excluir TODOS os arquivos da pasta historico_precos
database/historico_precos/*
# Excluir pasta arquivo
arquivo/
# Arquivos compilados e executáveis
*.pyc
*.pyd
*.pyo
*.exe
*.dll
*.so
*.lib
__pycache__/
