# Ignore common data files, but keep json files
*.csv
*.xlsx
*.xls
*.data
*.dat
*.db
*.sqlite
*.sqlite3
*.parquet
*.hdf
*.h5
*.pkl
*.pickle
*.sav
*.arff
*.feather

# Ignore virtual environments
venv/
.venv/
.env/
# Diretórios muito grandes
database/
sherpa/
flab/
unb/
poc_InvestmentOrchestrator/
poc_backup/
